body{
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	border-color: white;
	border-width: 3px;
}
.borderbox{
	width: 20px;
	height: 30px;
	border-color: black;
	border-width: 1px;
}