  * {
box-sizing: border-box;
}
body {
background: black;
}
.canvas {
width: 900px;
height: 556px;
margin: 100px auto;
background: white;
position: relative;
}
.table {
position: fixed;
bottom: 40px;
right:10px;
left: 10px;
height: 250px;
background: background: rgba(235,207,162,1);
background: -moz-linear-gradient(top, rgba(235,207,162,1) 0%, rgba(204,161,102,1) 13%, rgba(235,203,158,1) 38%, rgba(209,161,90,1) 54%, rgba(235,203,158,1) 70%, rgba(224,188,134,1) 77%, rgba(199,153,80,1) 93%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,207,162,1)), color-stop(13%, rgba(204,161,102,1)), color-stop(38%, rgba(235,203,158,1)), color-stop(54%, rgba(209,161,90,1)), color-stop(70%, rgba(235,203,158,1)), color-stop(77%, rgba(224,188,134,1)), color-stop(93%, rgba(199,153,80,1)));
background: -webkit-linear-gradient(top, rgba(235,207,162,1) 0%, rgba(204,161,102,1) 13%, rgba(235,203,158,1) 38%, rgba(209,161,90,1) 54%, rgba(235,203,158,1) 70%, rgba(224,188,134,1) 77%, rgba(199,153,80,1) 93%);
background: -o-linear-gradient(top, rgba(235,207,162,1) 0%, rgba(204,161,102,1) 13%, rgba(235,203,158,1) 38%, rgba(209,161,90,1) 54%, rgba(235,203,158,1) 70%, rgba(224,188,134,1) 77%, rgba(199,153,80,1) 93%);
background: -ms-linear-gradient(top, rgba(235,207,162,1) 0%, rgba(204,161,102,1) 13%, rgba(235,203,158,1) 38%, rgba(209,161,90,1) 54%, rgba(235,203,158,1) 70%, rgba(224,188,134,1) 77%, rgba(199,153,80,1) 93%);
background: linear-gradient(to bottom, rgba(235,207,162,1) 0%, rgba(204,161,102,1) 13%, rgba(235,203,158,1) 38%, rgba(209,161,90,1) 54%, rgba(235,203,158,1) 70%, rgba(224,188,134,1) 77%, rgba(199,153,80,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebcfa2', endColorstr='#c79950', GradientType=0 );;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
}
.plate {
	position: relative;
	top: 340px;
	left: 200px;
	width: 300px;
	height: 200px;
	background: red;
	-moz-border-radius: 150px / 100px;
	-webkit-border-radius: 150px / 100px;
	border-radius: 150px / 100px;
}
.trapezoid {
	position: relative;
	left: 200px;
	bottom: 10px;
  width: 230px;
  height: 250px;
  background: grey;
  transform: perspective(10px) rotateX(1deg);
  margin: 50px;
}





