body{
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	border-color: white;
	border-width: 4px;
}

a {
	font-size: 4em;
	font-family: cursive;
}

button {
	font-size: 2.0em;
	font-family: impact;
}

#owm-data {
	position: absolute;
	top: 37.5%;
	left: 37.5%;
	width: 25%;
	background-color: yellow;
	font-family: cursive;
	}

.shape {
	position: relative;
	fill: red;
}
