* {
	box-sizing: content-box;
}

body{

	background:white;
}

/*  for test1.html */

.floating-box{
	width:300px;
	height:100px;
	float:left;
}

.pattern-1R{
width: 0;
height: 0;
border-left: 40px solid transparent;
border-right: 10px solid transparent;
border-bottom: 60px solid #0000ff;
background-color: transparent;
float: right;
}
.pattern-1L{
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 40px solid transparent;
border-bottom: 60px solid #0000ff;
background-color: transparent;
float: left;
}


/* for test2.html */

.box-in-middle{
	position:fixed;
	left: : 200px;
	top: 300px;
}


.box{
	width:800px;
	height:50px;
	margin:0;
	padding:0;
	overflow:hidden;
	float:left;
}

.square-thick{

width: 40px;
height: 40px;
background: transparent;
border:5px solid #000000;
float:left;
}

.square-thin{

width: 48px;
height: 48px;
background: transparent;
border:1px solid #000000;
float:right;
}

/* for test3.html */

.indent{
	position:absolute;
	top:25px;
	left:25px;
	width: 600px;
}


.circle-color{
	width: 100px;
height: 100px;
background:#0000ff;
border-radius:50px;
float: left;
margin: 5px;
border: 5px solid pink;
}




/* your old stuff */

.pattern-8{
margin-right: 12px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
width: 10px;
height: 10px;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #000000;
background-color: transparent;
float: right;
}

.pattern-10{
margin-left: 20px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
width: 10px;
height: 10px;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #000000;
background-color: transparent;
float: left;
}
.pattern-2{
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 30px solid transparent;
border-bottom: 70px solid #0000ff;
background-color: transparent;
float: left;
}
.pattern-3{

width: 500px;
height: 200px;
border-style: dotted;
border-width: .1px .1px .1px .1px;
border-color: #0000FF;
position: absolute;
padding-bottom: 40px;
background-color: black;
border-width: 40px;
}


.circle-fill{
width: 50px;
height: 50px;
background:#0000ff;
border-radius:52px;
margin-left: 300px;
position: relative;
}

.circle-2{
width: 50px;
height: 50px;
background:#0000ff;
border-radius:52px;
margin-left: 200px;
position: relative;
}
.circle-3{
width: 50px;
height: 50px;
background:#0000ff;
border-radius:52px;
margin-left: 200px;
position: right;
float: right;
}
.circle-4{
width: 20px;
height: 20px;
border-radius:2px;
border: solid;
border-color: #0000FF;
margin-left: 200px;
position: right;
float: right;
}














