* {
	box-sizing: content-box;
}

body{

	background:white;
}

.pattern-1{
	height: 500px;
	/* create pattern-1 CSS here */
}

.pattern-2{
	height: 100%;
	/* create pattern-2 CSS here */
}
.circle-fill{
	width: 100px;
	height: 100px;
	background: #EB9FEF;
	border-radius: 50px;
	float: left;
	margin: 15px;
}

.pattern-3{	
	height: 500px;
	/* create pattern-3 CSS here */
	
}

.pattern-4{
	height: 100%;
}

	.square{
			width: 100px;
			height: 100px;
			background: #0000FF;
		}

