* {
	box-sizing: content-box;
}

body{

	background:white;
}

.floating-box{
	width:400px;
	height:100px;
	float:left;
}

.pattern-1R{
width: 50px;
height: 50px;
border: 3px dotted   #000000;
border-radius: 25px;
background:#000000;
float: right;
}
.pattern-1L{
width: 50px;
height: 50px;
border: 3px dotted   #000000;
border-radius: 25px;
float: left;
}

.indent{
	position:absolute;
	top:25px;
	left:25px;
	width: 600px;
}


.circle-color{
	width: 100px;
	height: 100px;
	background:#0000ff;
	border-radius:50px;
	float: left;
	margin: 5px;
	border: 5px solid pink;
}

.indent2{
	position:absolute;
	top:25px;
	right:25px;
	width: 600px;
}

.circle-color-right{
	width: 100px;
	height: 100px;
	background:#0000ff;
	border-radius:50px;
	float: right;
	margin: 5px;
	border: 5px solid green;
}

.pos {
	position: absolute;
	right: 400px;
}

.box-in-middle{
	position:fixed;
	left: : 200px;
	top: 300px;
}














